body {
    color:blueviolet;
    background: pink (250, 250, 250);
    margin: 0px
}

header{
    border-bottom:sold 2px white;
    padding: 20px;
    font-size: 32px;
    color:black;
 }

 section{
    background: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justiy-content: center;
 }

 .chamada-texto{
    margin-right: 5%;
 }