body {
    color:blueviolet;
    background: pink (250, 250, 250);
    margin: 0px
    margin-bottom: 100px;
}

header{
    border-bottom:sold 2px white;
    padding: 20px;
    font-size: 32px;
    color:black;
 }

 .chamada{
    background: rgba(247, 250, 250, 0.959);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justiy-content: center;
 }

 .chamada-texto{
    margin-right: 5%;
 }

 .categoria-videos{
   display: flex;
   overflow-x: auto;
   gap: 10px;
 }

 .categoria{
   padding-left: 20px;
   padding-right: 20px;
}

.categoria-videos img{
   opacity: 0, 5;
   height: 200px;
}

.categoria-videos img:hover{
   opacity: 1.0;
   border: 1px solid black;
}

.categoria h2{
   color:blueviolet
}